# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

node_modules/
frontend/webapp/sapui5/

# Python eggs
*.egg-info/
dist/
build/
security.py